# General
*.log
*.swp
*.swo

# Go specific
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Ignore go binary and cache files
go
!go.mod

# Ignore go test cache and coverage files
*.test
*.cover

# Ignore generated protobuf files
# internal/protobufs/*.pb.go

# Ignore editor-specific files
.vscode/
.idea/
